<!-- <div class="container-fluid"> -->
<!-- <div class="row flex-nowrap"> -->
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a routerLink="/dashboard"
        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Gestión Colaboradores</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <!-- Dashboard / Inicio -->
        <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="nav-link align-middle px-0 text-white">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
        </li>

        <!-- Colaboradores -->
        <li class="nav-item">
            <a routerLink="/dashboard/lista-colaboradores" routerLinkActive="active"
                class="nav-link align-middle px-0 text-white">
                <i class="fs-4 bi-people-fill"></i> <span class="ms-1 d-none d-sm-inline">Colaboradores</span>
            </a>
        </li>

        <!-- Sedes -->
        <li class="nav-item">
            <a routerLink="/dashboard/sedes" routerLinkActive="active" class="nav-link align-middle px-0 text-white">
                <i class="fs-4 bi-building-fill"></i> <span class="ms-1 d-none d-sm-inline">Sedes</span>
            </a>
        </li>

        <!-- Áreas -->
        <li class="nav-item">
            <a routerLink="/dashboard/areas" routerLinkActive="active" class="nav-link align-middle px-0 text-white">
                <i class="fs-4 bi-diagram-3"></i> <span class="ms-1 d-none d-sm-inline">Áreas</span>
            </a>
        </li>

        <!-- Puestos -->
        <li class="nav-item">
            <a routerLink="/dashboard/puestos" routerLinkActive="active" class="nav-link align-middle px-0 text-white">
                <i class="fs-4 bi-briefcase"></i> <span class="ms-1 d-none d-sm-inline">Puestos</span>
            </a>
        </li>

        <!-- Historial -->
        <li class="nav-item">
            <a routerLink="/dashboard/historial" routerLinkActive="active"
                class="nav-link align-middle px-0 text-white">
                <i class="fs-4 bi-clock-history"></i> <span class="ms-1 d-none d-sm-inline">Historial</span>
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown pb-4"> 
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" routerLink="/dashboard">Dashboard</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Configuración</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Perfil</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Cerrar Sesión</a></li>
        </ul>
    </div>
</div>
<!-- </div> -->
<!-- <div class="col py-3">
            Content area...
        </div> -->
<!-- </div> -->
<!-- </div> -->